.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--foreground);
    padding: 1rem 2rem;
    border: 1px solid var(--border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    width: 80vw;
    max-width: 1500px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-button {
    background: var(--background);
    color: var(--copy);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.25rem;
}

.dropdown-container {
    display: none;
}


.dropdown {
    display: none;
    z-index: 0;
}


.dropdown-button {
    background: var(--background);
    color: var(--copy);
    padding: 2rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.25rem;
    width: 90vw;
}

.dropdown-button p {
    margin: 0;
    text-decoration: none;
    color: var(--copy);
}

.icon {
    color: var(--primary);
    font-size: 2rem;
}

.show-dropdown-button {
    display: none;
    position: relative;
    z-index: 1;
    right: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 50px;
    width: 100px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    background: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.full-nav-logo {
    display: none;
}

.small-nav-logo {
    position: relative;
    width: 100px;
    margin: 0;
    height: auto;
    z-index: 1;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .nav-buttons-container {
        display: none;
    }
    .nav-container {
        justify-content: space-between;
        width: 100%;
    }

    .show-dropdown-button {
        display: flex;
    }


    .dropdown {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 100%;
        right: 0;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        background: var(--foreground);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }
    .full-nav-logo {
        display: flex;
        position: relative;
        width: 50vw;
        margin: 0;
        height: auto;
        z-index: 1;
        left: 0;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .small-nav-logo  {
        display: none;
    }
    
}