.slideshow {
    position: relative;
    padding: 25px;
    width: 100vw;
    max-width: 1500px;
    height: 35vw;
    margin-top: 0;
    max-height: 600px;
    max-width: 1515px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.foreground-image {
    width: 95%;
    height: auto;
    z-index: 0;
    margin-left: 0px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.25);
}

.background-image {
    width: 100%;
    height: 100%;
    filter: blur(15px);
}

.background-image img {
    width: 100vw;
    height: 100%;
    margin-left: 0px;

}

.slideshow img {
    position: absolute;
    z-index: 0;
}

@media screen and (max-width: 600px) {
    .slideshow {
        border-radius: 0;
        width: 100vw;
        height: 50vw;
        top: 0;
    }

    .foreground-image {
        width: 100%;
        height: auto;
        z-index: 0;
        margin-left: 0px;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.25);
    }
}