.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.vermont-strong {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);    
}