.datepicker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.datepicker {
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}